@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: #cfcfcf; }

.view {
  display: flex;
  flex: 1;
  background: #fff;
  display: block;
  padding: 15px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  background: rgba(0, 133, 133, 0.5);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  height: 300px;
  padding: 50px;
  border-radius: 6px; }

.flex-container {
  margin-bottom: 0px;
  flex: 1; }

.flex-container .view:nth-child(1) {
  margin-right: 25px; }

.flex-container .view:nth-child(2) {
  margin-left: 25px; }

textarea {
  flex: 1;
  padding: 15px; }
